.contact {
  background: #161936;
  padding: 60px 30px;
  font-family: Arial, sans-serif;
  color: #fff3f3;
}

.newsletter {
  text-align: center;
  margin-bottom: 40px;
}


.newsletter h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color:white;
}

.newsletter p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.newsletter form {
  display: flex; /*for box for input field*/
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;/*the input button won't squish*/
}

.newsletter input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.footerg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
/* part after the INTELLIBRIDGE*/
.cinfo {
  flex: 1;
  min-width: 250px;
}

.cinfo h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color:white;
}

.cinfo p {
  margin: 8px 0;
}
/*remote and global*/
.location span {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-right: 10px;
  margin-top: 10px;
}
/*cmpny service and domain part*/
.footerl {
  display: flex;
  gap: 40px;
  flex: 2;
  min-width: 300px;
}

.footerl h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footerl ul {
  list-style: none;
  padding: 0;
}

.footerl li {
  margin-bottom: 8px;
}

.footerl a {
  text-decoration: none;
  color: #007bff;
}

.footerl a:hover {
  text-decoration: underline;
}

.foot h4{
  color:white;
}
.foot h5{
  text-align:center;
}

.foot h6{
  text-align:center;
}