body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background: #f9f9f9;
}

h1, h2, h3{
    color: #222;
}

section {
    padding: 60px 20px;
}


.service-grid{
    display: flex;
    gap:20px;
    justify-content: center;
}

.service-card{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}