.partner {
  background: #f5f5f5;
  padding:60px 20px;
  text-align:center;
  overflow: hidden;
}

.partner h2 {
  font-size:2rem;
  margin-bottom:10px;
  color: #333;
}

.partner p {
  font-size:1rem;
  margin-bottom: 30px;
  color:#666;
}

.slide {
  overflow: hidden; /*fit the txt inside the box*/
  width:100%;
  position: relative;
}

.ptrack {
  display:flex;
  width:max-content;
  animation:scroll-left 20s linear infinite;
}

.pcard {
  flex: 0 0 auto;
  background:  rgb(166, 91, 247);
  color: white;
  padding: 12px 24px;
  margin:0 10px;
  border-radius: 6px;
  font-weight: 500;
  font-size:1rem;
  white-space:nowrap;/*Prevents text from wrapping onto the next line*/
}

/* Keyframe for right-to-left scroll */
@keyframes scroll-left{
  0% {
    transform:translateX(100%);
  }
  100% {
    transform:translateX(-100%);
  }
}