
.whyus{
  flex: 1 1 45%;
  background-color: #f9f9f9;
  padding:1.5rem;
  border-radius: 8px;
}
.intellibridge{
  flex: 1 1 45%;
  background:linear-gradient(to right,  rgb(222, 224, 227), #fbfbfc);
  padding:1.5rem;
  border-radius: 8px;
}

.intellibridge h5 {
  text-align:center;
  background-color: #cdbef2;
  padding: 0.3rem;
  border-radius: 4px;
  width: fit-content;         
  margin: 0 auto;             
  max-width: 80%;            
}
.intellibridge h4{
  color:rgb(110, 110, 110);
  font-style:normal;
}
.wgrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap:1rem;
}
.wcard {
  background:white;
  padding:1rem;
  border-radius:6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.icon{
  font-size:1.8rem;
  margin-bottom: 0.5rem;
}

.expert, .journey{
  list-style: none;
  padding-left: 0;
  margin-top:1rem;
}

.expert li, .journey li{
  margin-bottom:0.5rem;
  font-weight:500;
}